<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="content-margin" style="width: 50%;">

    <mat-card>

        <form [formGroup]="formGroup">

            <dynamic-material-form [group]="formGroup"
                                   [layout]="formLayout"
                                   [model]="formModel"
                                   (blur)="onBlur($event)"
                                   (change)="onChange($event)"
                                   (focus)="onFocus($event)"
                                   (matEvent)="onMatEvent($event)">
                <ng-template let-errors="errors" let-control="control" dynamicFormsErrorKey="firstName">
                    <span>First Name is required.</span>
                </ng-template>

                <!-- You could also have an error messages component that handles all of your error messages -->
                <!-- <ng-template let-element ngFor [ngForOf]="formModel">
                    <ng-template let-errors="errors" let-control="control" [dynamicFormsErrorKey]="element.id">
                        <error-messages [errors]="errors" [control]="control"></error-messages>
                    </ng-template>
                </ng-template> -->

            </dynamic-material-form>

        </form>

    </mat-card>

    <!--button (click)="test()">Update List</button-->

    <pre>{{formGroup.value | json}}</pre>

</div>
